<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>5xx</title>
</head>
<style>
    *{
        margin: 0;
        padding: 0;
    }
    div{
        height: 200px;
        width: 200px;
        margin: auto;
        display:flex;
        justify-content:center;
        align-items:center;
    }
</style>
<body th:style="'background: url('+'/errorimg/5xx.png'+') no-repeat;background-size: 100%;'">
<div><h1>5xx</h1></div>
</body>
</html>